// app.scss
// https://getuikit.com/docs/sass

@import "fonts.scss";

// 1. Custom variables and variable overwrites.
@import "theme/variables.scss";
@import "theme/base.scss";
@import "theme/button.scss";
@import "theme/navbar.scss";
@import "theme/offcanvas.scss";
@import "theme/utility.scss";
// ... import all

// 2. Import default variables and available mixins.
@import "uikit/variables.scss";
@import "uikit/mixins.scss";

// 3. Custom mixin overwrites.
@import "theme/base-mixins.scss";
@import "theme/button-mixins.scss";
@import "theme/navbar-mixins.scss";
@import "theme/utility-mixins.scss";
// ... import all

// 4. Import UIkit.
@import "uikit/uikit.scss";

// WordPress specific styles.
@import "wordpress";
