// app.scss

// 1. Custom variables and variable overwrites.
//@import "theme/accordion.scss";
//@import "theme/alert.scss";
//@import "theme/align.scss";
@import "theme/base.scss";
@import "theme/container.scss";
// ... import all

// 2. Import default variables and available mixins.
@import "uikit/variables.scss";
@import "uikit/mixins.scss";

// 3. Custom mixin overwrites.
//@import "theme/accordion-mixins.scss";
//@import "theme/alert-mixins.scss";
//@import "theme/align-mixins.scss";
@import "theme/base-mixins.scss";
@import "theme/container-mixins.scss";
// ... import all

// 4. Import UIkit.
@import "uikit/uikit.scss";
