// PT Sans Regular
@font-face {
	font-family: "PT Sans";
	src: url("../fonts/PT_Sans-Web-Regular.ttf"),
	url("../fonts/PT_Sans-Web-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

// PT Sans Italic
@font-face {
	font-family: "PT Sans";
	src: url("../fonts/PT_Sans-Web-Italic.ttf"),
	url("../fonts/PT_Sans-Web-Italic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
}

// PT Sans Bold
@font-face {
	font-family: "PT Sans";
	src: url("../fonts/PT_Sans-Web-Bold.ttf"),
	url("../fonts/PT_Sans-Web-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

// Yeseva One
@font-face {
	font-family: "Yeseva One";
	src: url("../fonts/YesevaOne-Regular.ttf"),
	url("../fonts/YesevaOne-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
