// Merriweather Light
@font-face {
	font-family: "Merriweather";
	src: url("../fonts/Merriweather-Light.ttf"),
	url("../fonts/Merriweather-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

// Merriweather Bold
@font-face {
	font-family: "Merriweather";
	src: url("../fonts/Merriweather-Bold.ttf"),
	url("../fonts/Merriweather-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}
