// Accessibility

/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: $global-background;
    -webkit-box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.15);
    clip: auto !important;
    color: $global-link-color;
    display: block;
    font-family: $global-font-family;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 400;
    height: auto;
    left: 7px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 7px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}


// Alignments
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// WordPress
.bypostauthor{
    .uk-comment-avatar{
        border: 3px solid white;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, .25);
    }
}

.wp-caption,
.gallery-caption{
    max-width: 100% !important;
}

.wp-caption-text{
    color: $global-muted-color;
    font-size: $global-small-font-size;
    margin-top: $global-small-margin;
}

.sticky{
    position: relative;
}

.custom-logo-link{
    .custom-logo{
        max-height: 50px;
        width: auto;
    }
}

// Theme styles.
.tm-post-title{
    text-shadow: 0px 1px 3px rgba(0, 0, 0, .33);
}

.comment-edit-link{
    .uk-icon{
        position: relative;
        bottom: 2px;
    }
}
