@mixin hook-button() {
    border-radius: 500px;
}

@mixin hook-button-text(){
    &:before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 100%;
        border-bottom: 1px solid currentColor;
        transition: right .3s ease-out;
    }
}

@mixin hook-button-text-hover(){
    &:before{
        right: 0;
    }
}
