$navbar-background:                             #28a5f5 !default;
$navbar-nav-item-color:                         rgba(255, 255, 255, .8) !default;
$navbar-nav-item-hover-color:                   rgba(255, 255, 255, 1) !default;
$navbar-nav-item-onclick-color:                 rgba(255, 255, 255, .8) !default;
$navbar-nav-item-active-color:                  rgba(255, 255, 255, .8) !default;
$navbar-nav-item-font-size:                     13px !default;

$navbar-item-color:                             rgba(255, 255, 255, .8) !default;

// Custom
$navbar-nav-item-text-transform:                uppercase !default;
