// Container
@mixin hook-navbar-container(){
    background: linear-gradient(to left, #28a5f5, #1dc7f0);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .45);
}

// Item
@mixin hook-navbar-nav-item(){
    text-transform: $navbar-nav-item-text-transform;
}
