// Fonts
$global-font-family: "PT Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$base-heading-font-family: "Merriweather";
$base-heading-font-weight: 300;

// Links
$global-link-color: #3c3c3c;
$global-link-hover-color: #000;
$base-link-hover-text-decoration: none;
