// Fonts
$global-font-family: "PT Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$base-heading-font-family: "Merriweather";
$base-heading-font-weight: 300;
